<div class="footer-links">
    <div class="footer-links__container">
        <FooterLink url="{baseURL}/press/">Press</FooterLink>
        <FooterLink url="{baseURL}/jobs/">Jobs</FooterLink>
        <FooterLink url="{baseURL}/privacy/">Privacy</FooterLink>
        <FooterLink url="{baseURL}/cookies/">Cookies</FooterLink>
        <FooterLink url="{baseURL}/terms-use/">Terms of use</FooterLink>
        <FooterLink url="{baseURL}/contact-us/">Contact us</FooterLink>
    </div>
</div>

<script>
    export default {
        components: {
            FooterLink: "./FooterLink.html"
        }
    }
</script>
