<div class="social-links">
    <ul class="social-links__container">
        <SocialLink
            id="twitter"
            label="Follow us on Twitter"
            url="https://twitter.com/nesta_uk"
        />
        <SocialLink
            id="facebook"
            label="Follow us on Facebook"
            url="https://www.facebook.com/440188313073269"
        />
        <SocialLink
            id="linkedin"
            label="Follow us on Linkedin"
            url="https://www.linkedin.com/company/nesta"
        />
        <SocialLink
            id="instagram"
            label="Follow us on Instagram"
            url="https://www.instagram.com/nesta_uk"
        />
    </ul>
</div>

<script>
    export default {
        components: {
            SocialLink: "./SocialLink.html"
        }
    }
</script>
