<div class="site-by-torchbox">
    <a class="site-by-torchbox__container" aria-label="Site by Torchbox" href="https://www.torchbox.com" target="_parent">
        <svg class="site-by-torchbox__icon site-by-torchbox__icon--flame"
            height="18px"
            width="14px"
        >
            <use xlink:href="#torchbox-flame"></use>
        </svg>
        <svg class="site-by-torchbox__icon site-by-torchbox__icon--text"
            height="10px"
            width="67px"
        >
            <use xlink:href="#torchbox-text"></use>
        </svg>
    </a>
</div>
