<div class="panel">
    <h2>About Flying High</h2>
    <p>This map has been created as part of the <LinkToParent url="http://flyinghigh.challenges.org">Flying High Challenge</LinkToParent>, a collaborative engagement with five city-regions, as well as national stakeholders and experts, to shape the future of drones and drone systems in urban areas in the UK.</p>
    <p>Find out more and read the full project report on the website.</p>
</div>

<script>
    export default {
        components: {
            LinkToParent: "../LinkToParent.html"
        }
    }
</script>
