<div class="panel">
    <h2>About</h2>
    <p>This interactive map shows various entity types operating with AI in the UK. These have been classified by type of entity and, if they are a company, by sector. Entities are represented on the map by coloured dots. Dots of multiple colours indicate entities that fall into multiple categories.</p>
    <h3>How to use this map</h3>
    <p>Toggle entity types to display using the menus on the right.</p>
    <p>Click on the dots to see the entity name and click on the name to open their website in a new tab (cmd / ctrl-click to stay on the map tab).</p>
    <p>To zoom use the +/- buttons, double click, or shift drag to select an area.</p>
    <h3>Source code</h3>
    <p>This map is published as open source on <LinkToParent url="https://github.com/nestauk/dap_uk_ai_map">Github</LinkToParent>.</p>
</div>

<script>
    export default {
        components: {
            LinkToParent: "../LinkToParent.html"
        }
    }
</script>
