<div class="panel">
    <h2>About</h2>
    <p>This interactive map shows companies and research organisations operating in the civic and commercial drone industry in the UK. These have been classified by type of entity and, if they are a technology developer, by type of technology. Entities are represented on the map by coloured dots. Dots of multiple colours indicate entities that fall into multiple categories.</p>
    <p>This map has been created as part of Nesta's Flying High Challenge, exploring the future of drones in UK cities. The full project report is available on the <LinkToParent url="https://www.nesta.org.uk/report/flying-high-challenge-future-of-drone-technology-in-uk-cities/">Nesta website</LinkToParent>.</p>
    <h3>How to use this map</h3>
    <p>Toggle entity types to display using the menus on the right.</p>
    <p>Click on the dots to see the entity name and click on the name to open their website in a new tab (cmd / ctrl-click to stay on the map tab).</p>
    <p>To zoom use the +/- buttons, double click, or shift drag to select an area.</p>
    <h3>Source code</h3>
    <p>This map is published as open source on <LinkToParent url="https://github.com/nestauk/drone_industry">Github</LinkToParent>.</p>
</div>

<script>
    export default {
        components: {
            LinkToParent: "../LinkToParent.html"
        }
    }
</script>
