<div class="panel">
    <h2>About Glass</h2>
    <p>Data provided by <LinkToParent url="https://glass.ai">Glass</LinkToParent>.</p>
    <p>Glass has invented AI technology that can understand text at scale. With this innovation Glass is building a product that wants to revolutionise how professionals can research the internet. With deep roots in machine learning and computational linguistics, Glass is digitally mapping the global economy, tracking any topic of interest across hundreds of millions of web pages, watching over millions of organisations.</p>
</div>

<script>
    export default {
        components: {
            LinkToParent: "../LinkToParent.html"
        }
    }
</script>
