<div class="panel">
	<h2>About UK Research and Innovation</h2>
	<p>UK Research and Innovation (UKRI) convenes, catalyses and invests in close collaboration with others to build a thriving, inclusive research and innovation system.</p>
	<p>Our vision is for Artificial Intelligence in the UK to benefit society, provide skilled employment and deliver significant economic growth.</p>
	<p>This tool has been created with the ambition to create a single source of AI capability in the UK to support facilitation and increase connections across the UK’s AI community.</p>
	<p>Find out more about <LinkToParent url="https://www.ukri.org/what-we-offer/how-we-work-in-ai/">our vision and work in AI</LinkToParent>.</p>
</div>

<script>
	export default {
		components: {
			LinkToParent: "../LinkToParent.html"
		}
	}
</script>
