<div
    class="scrollshield {isActive ? 'active' : ''}"
    on:animationend="fire('animationDone')"
    on:animationcancel="fire('animationDone')"
>
    <p>{message}</p>
</div>

<style>
    .scrollshield {
        display: none;
    }

    @keyframes pulse {
        0% {
            opacity: 0;
        }
        25% {
            opacity: 1;
        }
        75% {
            opacity: 1;
        }
        100% {
            opacity: 0;
        }
    }

    .scrollshield.active {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        padding: 1em;

        opacity: 0;
        background-color: rgba(0,0,0,0.15);

        pointer-events: none;

        display: flex;
        align-items: center;
        justify-content: center;

        animation-name: pulse;
        animation-duration: 1.5s;
    }

    .scrollshield p {
        color: white;
        font-size: 32px;
        font-weight: bold;
        border: 1px solid white;
        padding: 0.5em;
        line-height: 1em;
    }
</style>
