Here you can find a bar chart showing the region names for the selected organisations.
For each region, you can read how many organisations are found in that area.

To select specific regions, click on the Edit Mode button, click on various items
to (de)select them, then exit Edit Mode.

Switching to another tab exits Edit Mode automatically.
