<svelte:head>
    <link rel="stylesheet" type="text/css" href="../css/mapbox-gl.css">
</svelte:head>
<svelte:window
    on:resize="setGeometry()"
    on:keyup="onkeyup(event)"
    on:keydown="onkeydown(event)"
/>
<div ref:layers
    on:mouseenter="onmouseenter()"
    on:mouseleave="onmouseleave()"
    on:wheel="onwheel(event)"
>
    <div ref:mapcontainer></div>

    <Shield
        isActive="{isShieldActive}"
        message="{shieldMessage}"
        on:animationDone="hideShield()"
    />

    {#if infopanel}
    <div ref:infopanel style={infopanel.style}>
        <a href="{infopanel.Link}" target="_blank">
        {infopanel.Name}
        </a>
    </div>
    {/if}
</div>

<script>
    import _ from "lamb";
    import mapboxgl from "mapbox-gl";
    import bbox from "@turf/bbox";
    import geoViewport from "@mapbox/geo-viewport";

    import * as d3 from "@vendor/d3";

    import {
        FIT_PADDING,
        MAPBOXGL_MAX_ZOOM,
        MAPBOXGL_MIN_ZOOM,
        MAPBOXGL_TILE_SIZE,
        KEY_TO_ENABLE_SCROLL,
        KEY_TO_ENABLE_SCROLL_EVENTS
    } from "./consts";
    import {getElementGeometry, makeStyle, toPx} from "@utils/domUtils";
    import {tap} from "@utils/debugUtils";
    import {toGeoPoints} from "@utils/geoUtils";

    const pie =
        d3.pie()
        .sort(null)
        .value(_.getKey("value"));

    export default {
        components: {
            Shield: "./Shield.html"
        },

        /* state */

        data () {
            return {
                width: 0,
                height: 0,
                zoom: MAPBOXGL_MIN_ZOOM,
                infopanel: null,
                infopanelMargin: 5,
                isShieldActive: false,
                shieldMessage: "",
                isPointerOverMap: false,
                keyToEnableScroll: KEY_TO_ENABLE_SCROLL,
                fingers: 0,

                // has to be true initially, setting it in the state for consistency
                isInteractive: true,
            }
        },
        computed: {
            // map

            boundingBox: ({items}) => bbox(toGeoPoints(items)),
            viewport: ({boundingBox, width, height}) => geoViewport.viewport(
                boundingBox,
                [width, height],
                MAPBOXGL_MIN_ZOOM,
                MAPBOXGL_MAX_ZOOM,
                MAPBOXGL_TILE_SIZE
            ),

            // markers

            pieRadiusScale: ({radiusMin, radiusMax}) =>
                d3.scaleLinear()
                .domain([MAPBOXGL_MIN_ZOOM, MAPBOXGL_MAX_ZOOM])
                .range([Number(radiusMin), Number(radiusMax)]),
            pieRadius: ({pieRadiusScale, zoom}) => pieRadiusScale(zoom),
            arc: ({pieRadius}) =>
                d3.arc()
                .innerRadius(0)
                .outerRadius(pieRadius),
            makePie: ({keys}) => _.pipe(
                _.pickKeys(keys),
                _.pairs,
                _.mapWith(([key, value]) => ({
                    key,
                    value: Number(value)
                })),
                pie
            ),
            getColor: ({keys, colorScale}) => _.pipe(
                _.getPath("data.key"),
                colorScale
            ),
        },

        /* lifecycle */

        onstate ({changed, current, previous}) {
            if (current.viewport && current.height > 0 && previous.height === 0) {
                this.createMap();
            }

            if (this.markersContainer) {
                if (changed.width || changed.height) {
                    this.updateContainerGeometry();
                }
                if (changed.arc) {
                    this.updateMarkersRadius();
                }
                if (changed.items) {
                    this.updateMarkers();
                    this.projectMarkers();
                }
            }
        },

        oncreate () {
            this.setGeometry();
        },

        /* methods */

        methods: {
            setGeometry () {
                const {width, height} = getElementGeometry(this.refs.mapcontainer);

                this.set({width, height});
            },

            createMap () {
                const {
                    accessToken,
                    styleURL,
                    viewport,
                    withScaleControl,
                    withZoomControl,
                    isInteractive
                } = this.get();
                const {center, zoom} = viewport;

                mapboxgl.accessToken = accessToken;

                this.map = new mapboxgl.Map({
                    container: this.refs.mapcontainer,
                    center,
                    zoom,
                    style: styleURL,
                    renderWorldCopies: false,

                    // interactions
                    scrollZoom: false,  // shielded
                    touchZoomRotate: isInteractive,
                    dragPan: isInteractive,
                    dragRotate: false,
                    // we don't render dots in perspective
                    pitchWithRotate: false,

                    // we add this later to have it compact
                    attributionControl: false,

                })
                .on("load", () => {
                    this.addContainer();
                    this.updateContainerGeometry();
                    this.updateMarkers();
                    this.setMapEvents();
                    this.fitBoundsToItems();
                    this.enableItemsEditing();

                    // ipad FIXME: initial svg is 100x100
                    this.setGeometry();
                });

                // input events

                this.map.touchZoomRotate.disableRotation();

                // controls

                this.addControls();
            },

            /* controls */

            addControls () {
                const {withZoomControl, withScaleControl} = this.get();

                this.addAttributionControl();

                if (withScaleControl) {
                    this.addScaleControl();
                }

                if (withZoomControl) {
                    this.addZoomControl();
                }
            },

            addAttributionControl () {
                this.map.addControl(new mapboxgl.AttributionControl({
                    compact: true
                }))
            },

            addScaleControl () {
                this.map.addControl(
                    new mapboxgl.ScaleControl({
                        maxWidth: 80,
                        unit: "metric"
                    }),
                    "bottom-right"
                );
            },

            addZoomControl () {
                this.map.addControl(
                    new mapboxgl.NavigationControl({
                        showCompass: false
                    }),
                    "bottom-left"
                );
            },

            /* zoom */

            fitBoundsToItems () {
                const {boundingBox} = this.get();

                this.map.fitBounds(boundingBox, {
                    linear: true,
                    padding: {
                        top: FIT_PADDING,
                        bottom: FIT_PADDING,
                        left: FIT_PADDING,
                        right: FIT_PADDING
                    }
                });
            },

            /* container */

            addContainer () {
                this.markersContainer =
                    d3.select(this.map.getCanvasContainer())
                    .append("svg")
                    .style("position", "absolute");
            },

            updateContainerGeometry () {
                const {width, height} = this.get();

                this.markersContainer
                .attr("width", toPx(width))
                .attr("height", toPx(height));
            },

            /* markers */

            updateMarkers () {
                const {
                    arc,
                    getColor,
                    getItemID,
                    getLink,
                    items,
                    makePie
                } = this.get();

                let marker =
                    this.markersContainer
                    .selectAll(".marker")
                    .data(items, getItemID);

                marker.exit().remove();

                const markerEnter =
                    marker.enter()
                    .append("g")
                    .attr("class", "marker")
                    .attr("fill-opacity", 0.75)
                    .style("cursor", "pointer")
                    .on("click", d => {
                        this.setInfoPanel(d);
                    });

                this.marker = marker.merge(markerEnter);

                let sector =
                    this.marker.selectAll(".sector")
                    .data(makePie);

                const enter = sector.enter()
                .append("path")
                .attr("class", "sector");

                sector.merge(enter)
                .attr("d", arc)
                .attr("fill", getColor)
                ;
            },

            updateMarkersRadius () {
                const {arc} = this.get();

                this.marker.selectAll(".sector").attr("d", arc);
            },

            getMarkerPosition (d) {
                const {getLngLat} = this.get();

                return this.map.project(getLngLat(d));
            },

            projectMarkers () {
                this.marker.attr("transform", d => {
                    const {x, y} = this.getMarkerPosition(d);

                    return `translate(${x},${y})`;
                });
            },

            /* tooltip */

            setInfoPanel (d) {
                const {width, height, infopanelMargin, pieRadius} = this.get();
                const safety = pieRadius + infopanelMargin;

                const {x, y} = this.getMarkerPosition(d);
                const vStyle = (y < height / 2)
                    ? {top: y + safety}
                    : {bottom: height - y + safety};
                const hStyle = (x < width / 2)
                    ? {left: x + safety}
                    : {right: width - x + safety};
                const styleObj = _.merge({}, vStyle, hStyle);
                const style = makeStyle(_.mapValues(styleObj, toPx));

                this.set({infopanel: _.merge(d, {style})});
            },

            resetInfoPanel (d) {
                this.set({infopanel: null});
            },

            enableItemsEditing () {
                this.fire("enableItemsEditing");
            },

            /* shield */

            showShield (msgType) {
                let shieldMessage = "";
                switch (msgType) {
                    case "scroll":
                        const {keyToEnableScroll} = this.get();
                        shieldMessage = `${keyToEnableScroll}-scroll to zoom`;
                        break;
                    case "pinch":
                        shieldMessage = "Use two fingers to drag and zoom";
                        break;
                    default:
                        break;
                };

                this.set({isShieldActive: true, shieldMessage});
            },
            hideShield () {
                this.set({isShieldActive: false, shieldMessage: ""});
            },

            /* events */

            setMapEvents () {
                const zoomed = ({target: map}) => {
                    this.resetInfoPanel();
                    this.projectMarkers();
                    this.set({zoom: map.getZoom()})
                };

                this.map
                .on("mousedown", () => {
                    this.resetInfoPanel();
                })
                .on("move", () => {
                    this.resetInfoPanel();
                    this.projectMarkers();
                })
                .on("resize", () => {
                    this.resetInfoPanel();
                    this.projectMarkers();
                })
                .on("zoom", zoomed)
                .on("zoomend", zoomed);

                if (Modernizr.touchevents) {
                    this.setMapTouchEvents();
                }
            },

            // interactivity

            enableInteractivity (event) {
                this.map.dragPan.enable();
                this.map.touchZoomRotate.enable();
                this.set({isInteractive: true});
            },
            disableInteractivity (event) {
                this.map.dragPan.disable();
                this.map.touchZoomRotate.disable();
                this.set({isInteractive: false});
            },

            /* desktop */

            // pointer

            setPointerEntered () {
                this.set({isPointerOverMap: true});
            },
            setPointerExited () {
                this.set({isPointerOverMap: false});
            },

            // scrollZoom

            enableScrollToZoom (event) {
                this.map && this.map.scrollZoom.enable();
            },
            disableScrollToZoom (event) {
                this.map && this.map.scrollZoom.disable();
            },

            // key events

            onkeydown (event) {
                const {keyToEnableScroll, isPointerOverMap} = this.get();

                if (isPointerOverMap && event.key === keyToEnableScroll) {
                    this.enableScrollToZoom();
                    this.hideShield();
                }
            },
            onkeyup (event) {
                const {keyToEnableScroll, isPointerOverMap} = this.get();

                if (isPointerOverMap && event.key === keyToEnableScroll) {
                    this.disableScrollToZoom();
                }
            },

            // mouse events

            onmouseenter (event) {
                this.setPointerEntered();
            },
            onmouseleave (event) {
                this.setPointerExited();
                this.hideShield();
                this.disableScrollToZoom();
            },
            onwheel (event) {
                if (!event[KEY_TO_ENABLE_SCROLL_EVENTS]) {
                    this.showShield("scroll");
                }
            },

            /* touch device: note that
            - @touchstart, mapTouchEvent.points is the list of fingers ON the map
            - @touchend, mapTouchEvent.points is the list of fingers we have REMOVED FROM the map
            */
            setMapTouchEvents () {
                this.map
                .on("touchstart", mapTouchEvent => {
                    const currentFingers = mapTouchEvent.points.length;

                    // if (currentFingers === 1) {
                    //     this.showShield("pinch");
                    // } else {
                    //     this.hideShield();
                    // }

                    this.resetInfoPanel();
                    this.set({fingers: currentFingers});
                })
                .on("touchmove", mapTouchEvent => {
                    const {fingers, isInteractive, isShieldActive} = this.get();

                    if (fingers === 1) {
                        !isShieldActive && this.showShield("pinch");
                        isInteractive && this.disableInteractivity();
                    } else {
                        isShieldActive && this.this.hideShield();
                        !isInteractive && this.enableInteractivity();
                    }
                })
                .on("touchend", mapTouchEvent => {
                    const {fingers: previousFingers} = this.get();
                    const removedFingers = mapTouchEvent.points.length;
                    const currentFingers = previousFingers - removedFingers;

                    if (currentFingers === 1) {
                        this.disableInteractivity();
                        this.showShield("pinch");
                    } else {
                        this.enableInteractivity();
                        this.hideShield();
                    }

                    this.set({fingers: currentFingers});
                });
            }
        }
    }
</script>

<style>
    ref:layers {
        width: 100%;
        height: 100%;
        position: relative;
    }

    ref:mapcontainer {
        width: 100%;
        height: 100%;
    }

    /*
    When we shield touch-drag mapbox sets this to none
    preventing to scroll with 1-finger on Android and Windows.
    FIXME: modifying the map css is a HACK as it might change in the future,
    let's not rely on this. TODO file an question/issue on mapbox's github
    */
    :global(.mapboxgl-canvas-container) {
        touch-action: auto !important;
    }

    svg {
        width: 100%;
        height: 100%;
        position: absolute !important;
    }

    .marker {
        cursor: crosshair !important;
    }

    ref:infopanel {
        position: absolute;
        background-color: rgb(255, 255, 255, 0.7);
        box-shadow: 3px 3px 3px #c1c1c1;

        font-weight: bold;
        line-height: 1em;
        padding: 0.5em;
    }

    ref:infopanel a {
        text-decoration: none;
        color: black;
    }
</style>
