The map shows organisations in their location.

Single organisations are rendered as pie charts showing their types.

Depending on their distribution in the visible area, orgs can be
clustered to avoid cluttering.

Clusters of organisations are rendered as a pie chart of all the types in that
cluster and a label with the amount of orgs in that cluster.
