* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-family: sans-serif;
}

html, body, #app {
	height: 100%;
	width: 100%;
	/*
	For the color correction filters to work properly across browsers,
	the background must be set to a color.
	*/
}

body {
	color: #333;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 400;
	margin: 0 0 0.7em 0;
}

h1 {
	font-size: 2em;
}

a {
	color: inherit;
}

.clickable {
	cursor: pointer;
}

:root {
	--z-1000: 1000; /* FIXME svizzle's A11yMenu depends on this */
	--z1000: 1000;
}

.theme {
	--boxShadowY: 0px 8px 9px -4px lightgrey;
	--colorBackground: #333;
	--colorBackgroundMain: white;
	--colorClusterTextBkgStroke: white;
	--colorDisabled: grey;
	--colorEvalHighlighted: aqua;
	--colorHoverToDelete: mistyrose;
	--colorLink: #0658aa;
	--colorMain: #333;
	--colorMainInverted: white;
	--colorMainLighter: #555;
	--colorMarkerFocused: red;
	--colorOrgAddress: aquamarine;
	--colorOrgHighlighted: lavender;
	--colorOrgtype0: #2455ad;
	--colorOrgtype0Text: white;
	--colorOrgtype1: yellowgreen;
	--colorOrgtype1Text: white;
	--colorOrgtype2: plum;
	--colorOrgtype2Text: white;
	--colorOrgtype3: gold;
	--colorOrgtype3Text: var(--colorMain);
	--colorPill: white;
	--colorPillBackground: #333;
	--colorPillScore: white;
	--colorSecondary: #075aa2;
	--colorSelected: #00645f;
	--colorSelectedLight: aliceblue;
	--colorSelectedText: white;
	--colorTagBlockquoteBackground: aliceblue;
	--colorTagBlockquoteLeftborder: dodgerblue;
	--colorTagCodeBackground: aliceblue;
	--colorTagCodeBorder: lightgrey;
	--colorTagCodeText: #333;
	--colorWarningBackground: orange;
	--colorWarningBorder: darkorange;
	--colorWarningText: white;
	--dimHeaderHeight: 3rem;
	--dimPadding: 0.5rem;
}
