* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-family: sans-serif;
}

html, body, #app {
	height: 100%;
	width: 100%;
	/*
	For the color correction filters to work properly across browsers,
	the background must be set to a color.
	*/
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 400;
	margin: 0 0 0.7em 0;
}

h1 {
	font-size: 2em;
}

a {
	color: inherit;
}

.clickable {
	cursor: pointer;
}

:root {
	--z-1000: 1000; /* FIXME svizzle's A11yMenu depends on this */
	--z1000: 1000;
}

/* theme: geometry */

.themeLight {
	--boxShadowY: 0px 8px 9px -4px var(--colorShadow);
	--dimHeaderHeight: 3rem;
	--dimPadding: 0.5rem;
}

.themeDark {
	--boxShadowY: 0px 8px 9px -4px var(--colorShadow);
	--dimHeaderHeight: 3rem;
	--dimPadding: 0.5rem;
}

/* theme: colors */

.themeLight {
	--border: thin solid #ccc;
	--borderAux: thin solid #333; /* see --colorBorderAux */
	--colorActiveBackground: #333;
	--colorActiveText: #ccc;
	--colorAux: #f5f5f5;
	--colorBackdropSensor: rgba(0, 0, 0, 0.25);
	--colorBackground: white; /* back to --colorMain? */
	--colorBarchartHoveredItemBackground: peachpuff;
	--colorBarchartHoveredItemBar: #333;
	--colorBarchartHoveredItemText: #333;
	--colorBarchartItemBar: black;
	--colorBarchartSelectedItemBackground: #fff4e5;
	--colorBarchartSelectedItemText: #333;
	--colorBorderAux: #333; /* FIXME needed by a11y menu */
	--colorClusterTextBkgStroke: white;
	--colorHighlightedText: #333;
	--colorHighlightedTextBackground: yellow;
	--colorHoverToDelete: mistyrose;
	--colorIcon: #333;
	--colorIconSelected: white;
	--colorLink: #0658aa;
	--colorMarkerFocused: red;
	--colorMultiMarkerCenter: #333;
	--colorNavLink: #333;
	--colorNavLinkActive: #0658aa;
	--colorOrgAddress: aquamarine;
	--colorOrgHighlighted: lavender;
	--colorOrgtype0: #2455ad;
	--colorOrgtype0Text: var(--colorTextInverted);
	--colorOrgtype1: yellowgreen;
	--colorOrgtype1Text: var(--colorTextInverted);
	--colorOrgtype2: plum;
	--colorOrgtype2Text: var(--colorTextInverted);
	--colorOrgtype3: gold;
	--colorOrgtype3Text: var(--colorTextInverted);
	--colorPageBackground: #333;
	--colorPillBackground: #333;
	--colorPillText: white;
	--colorScrollbarThumb: #ddd; /* windows */
	--colorScrollbarTrack: #f5f5f5; /* windows */
	--colorSelectedBackground: #00645f;
	--colorSelectedText: white;
	--colorShadow: rgba(0, 0, 0, 0.5);
	--colorSwitchKnob: lightgray;
	--colorTagBlockquoteBackground: aliceblue;
	--colorTagBlockquoteLeftBorder: dodgerblue;
	--colorTagCodeBackground: aliceblue;
	--colorTagCodeBorder: lightgrey;
	--colorTagCodeText: #333;
	--colorTagH4: #075aa2;
	--colorText: #333;
	--colorTextDisabled: #ccc;
	--colorTextInverted: white;
	--colorWarningBackground: orange;
	--colorWarningBorder: darkorange;
	--colorWarningText: white;

	/* eval */
	--colorEvalHighlighted: aqua;
}

.themeDark {
	--border: thin solid #444;
	--borderAux: thin solid #ccc; /* see --colorBorderAux */
	--colorActiveBackground: #ccc;
	--colorActiveText: #333;
	--colorAux: #222;
	--colorBackdropSensor: rgba(255, 255, 255, 0.25);
	--colorBackground: #111; /* back to --colorMain? */
	--colorBarchartHoveredItemBackground: cornflowerblue;
	--colorBarchartHoveredItemBar: white;
	--colorBarchartHoveredItemText: white;
	--colorBarchartItemBar: white;
	--colorBarchartSelectedItemBackground: #002c66;
	--colorBarchartSelectedItemText: white;
	--colorBorderAux: #ccc; /* FIXME needed by a11y menu */
	--colorClusterTextBkgStroke: #333;
	--colorHighlightedText: #333;
	--colorHighlightedTextBackground: yellow;
	--colorHoverToDelete: mistyrose;
	--colorIcon: #ccc;
	--colorIconSelected: black;
	--colorLink: #7FA6CC;
	--colorMarkerFocused: red;
	--colorMultiMarkerCenter: #ccc;
	--colorNavLink: #ccc;
	--colorNavLinkActive: #7FA6CC;
	--colorOrgAddress: #294C41;
	--colorOrgHighlighted: #555;
	--colorOrgPlace: aliceblue;
	--colorOrgtype0: #6c96ea;
	--colorOrgtype0Text: var(--colorTextInverted);
	--colorOrgtype1: #b9ef4e;
	--colorOrgtype1Text: var(--colorTextInverted);
	--colorOrgtype2: #ea95ea;
	--colorOrgtype2Text: var(--colorTextInverted);
	--colorOrgtype3: #e1d17a;
	--colorOrgtype3Text: var(--colorTextInverted);
	--colorPageBackground: #333;
	--colorPillBackground: #ddd;
	--colorPillText: black;
	--colorScrollbarThumb: #666; /* windows */
	--colorScrollbarTrack: #222; /* windows */
	--colorSelectedBackground: #83b8b5;
	--colorSelectedText: black;
	--colorShadow: rgba(0, 0, 0, 0.5);
	--colorSwitchKnob: gray;
	--colorTagBlockquoteBackground: rgb(33, 71, 105);
	--colorTagBlockquoteLeftBorder: rgb(15, 49, 83);
	--colorTagCodeBackground: rgb(43, 74, 102);
	--colorTagCodeBorder: darkgrey;
	--colorTagCodeText: white;
	--colorTagH4: #6785a0;
	--colorText: #ccc;
	--colorTextDisabled: #666;
	--colorTextInverted: black;
	--colorWarningBackground: rgb(117, 76, 0);
	--colorWarningBorder: rgb(109, 60, 1);
	--colorWarningText: black;

	/* eval */
	--colorEvalHighlighted: aqua;
}
