* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-family: sans-serif;
}

html, body, #app {
	height: 100%;
	width: 100%;
	/*
	For the color correction filters to work properly across browsers,
	the background must be set to a color.
	*/
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 400;
	margin: 0 0 0.7em 0;
}

h1 {
	font-size: 2em;
}

a {
	color: inherit;
}

.clickable {
	cursor: pointer;
}

:root {
	--z-1000: 1000; /* FIXME svizzle's A11yMenu depends on this */
	--z1000: 1000;
}

.themeLight {
	--boxShadowY: 0px 8px 9px -4px lightgrey;
	--colorBackground: #333;
	--colorBackgroundMain: white;
	--colorClusterTextBkgStroke: white;
	--colorDisabled: grey;
	--colorEvalHighlighted: aqua;
	--colorHoverToDelete: mistyrose;
	--colorLink: #0658aa;
	--colorMain: #333;
	--colorMainInverted: white;
	--colorMainLighter: #555;
	--colorMarkerFocused: red;
	--colorOrgAddress: aquamarine;
	--colorOrgHighlighted: lavender;
	--colorOrgtype0: #2455ad;
	--colorOrgtype0Text: white;
	--colorOrgtype1: yellowgreen;
	--colorOrgtype1Text: white;
	--colorOrgtype2: plum;
	--colorOrgtype2Text: white;
	--colorOrgtype3: gold;
	--colorOrgtype3Text: var(--colorMain);
	--colorPill: white;
	--colorPillBackground: #333;
	--colorPillScore: white;
	--colorSecondary: #075aa2;
	--colorSelected: #00645f;
	--colorSelectedLight: aliceblue;
	--colorSelectedText: white;
	--colorTagBlockquoteBackground: aliceblue;
	--colorTagBlockquoteLeftborder: dodgerblue;
	--colorTagCodeBackground: aliceblue;
	--colorTagCodeBorder: lightgrey;
	--colorTagCodeText: #333;
	--colorWarningBackground: orange;
	--colorWarningBorder: darkorange;
	--colorWarningText: white;
	--dimHeaderHeight: 3rem;
	--dimPadding: 0.5rem;
}

.themeDark {
	--boxShadowY: 0px 8px 9px -4px lightgrey;
	--colorBackground: #333;
	--colorBackgroundMain: black;
	--colorClusterTextBkgStroke: black;
	--colorDisabled: gsilverrey;
	--colorEvalHighlighted: aqua;
	--colorLink: #0658aa;
	--colorMain: #CCC;
	--colorMainInverted: white;
	--colorMainLighter: #BBB;
	--colorOrgAddress: aquamarine;
	--colorOrgHighlighted: lavender;
	--colorOrgPlace: aliceblue;
	--colorOrgtype0: #808eaa;
	--colorOrgtype0Text: black;
	--colorOrgtype1: rgb(56, 75, 19);
	--colorOrgtype1Text: black;
	--colorOrgtype2: rgb(95, 32, 95);
	--colorOrgtype2Text: black;
	--colorOrgtype3: rgb(85, 75, 19);
	--colorOrgtype3Text: var(--colorMain);
	--colorPill: black;
	--colorPillBackground: white;
	--colorPillScore: black;
	--colorSecondary: #6785a0;
	--colorSelected: #83b8b5;
	--colorSelectedText: black;
	--colorTagBlockquoteBackground: rgb(33, 71, 105);
	--colorTagBlockquoteLeftborder: rgb(15, 49, 83);
	--colorTagCodeBackground: rgb(43, 74, 102);
	--colorTagCodeBorder: darkgrey;
	--colorTagCodeText: white;
	--colorWarningBackground: rgb(117, 76, 0);
	--colorWarningBorder: rgb(109, 60, 1);
	--colorWarningText: black;
	--dimHeaderHeight: 3rem;
	--dimPadding: 0.5rem;
}
