* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-family: sans-serif;
}

html, body, #app {
	height: 100%;
	width: 100%;
	/*
	For the color correction filters to work properly across browsers,
	the background must be set to a color.
	*/
}

body {
	color: #333;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 400;
	margin: 0 0 0.7em 0;
}

h1 {
	font-size: 2em;
}

a {
	color: inherit;
}

.clickable {
	cursor: pointer;
}

.theme {
	--box-shadow-xy: 2px 8px 9px -4px lightgrey;
	--box-shadow-y: 0px 8px 9px -4px lightgrey;
	--color-background-main: white;
	--color-background: #333;
	--color-eval-highlighted: aqua;
	--color-grey-180: rgb(180, 180, 180);
	--color-grey-40: rgb(40, 40, 40);
	--color-grey-70: rgb(70, 70, 70);
	--color-grey-lighter: #f7f7f7;
	--color-link: #0658aa;
	--color-main-desat-50: #333;
	--color-main-lighter: #555;
	--color-main: #333;
	--color-org-highlighted: lavender;
	--color-org-place: cornsilk;
	--color-org-type: aquamarine;
	--color-paleyellow: #f9f7dd;
	--color-pill-background: orange;
	--color-pill-score: black;
	--color-pill: white;
	--color-secondary: #075aa2;
	--color-selected-text: white;
	--color-selected: lightseagreen;
	--color-tag-blockquote-background: aliceblue;
	--color-tag-blockquote-leftborder: dodgerblue;
	--color-tag-code-background: aliceblue;
	--color-tag-code-border: lightgrey;
	--color-tag-code-text: black;
	--color-warning-background: orange;
	--color-warning-border: darkorange;
	--color-warning-text: white;
	--dim-fontsize-light: 200;
	--dim-header-height: 3rem;
	--dim-main-height: calc(100% - var(--dim-header-height));
	--dim-padding-minor: 0.5rem;
	--dim-padding: 1rem;
	--z-1000: 1000;
}
