numpy
scipy
pandas
matplotlib
altair
metaflow
tqdm
filelock
typer
sh
jupyter
sqlalchemy
pymysql
selenium
webdriver_manager
geopy
pgeocode
nuts-finder
metaflow_extensions@git+https://github.com/nestauk/metaflow_extensions
fsspec
s3fs
